{% extends 'base.html' %}
{% block content %}

<h1>Show Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ show.title }}</span>
        <p>Season: {{ show.season }}</p>
        <p>Year: {{ show.year }}</p>
        <p>Description: {{ show.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'shows_update' show.id %}">Edit</a>
        <a href="{% url 'shows_delete' show.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_review' show.id %}" method="POST">
      {% csrf_token %}
      {{ review_form.as_p }}
      <input type="submit" class="btn" value="Add Review">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Rating</th><th>Commment</th></tr>
      </thead>
      <tbody>
        {% for review in show.review_set.all %}
          <tr>
            <td>{{review.get_rating_display}}</td>
            <td>{{review.comment}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- This is all new markup to be added just above the <script> tag -->
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ show.title }}'s Performers</h3>
      {% if show.performers.count %}
        {% for performer in show.performers.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ performer.name }}, born in {{performer.born_year}}
              </span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No performers :(</h5>
      {% endif %}
    </div>
    <!-- Available performers will come after this line -->
  </div>
  
<script>
  const selectEl = document.getElementById('id_rating');
  M.FormSelect.init(selectEl);
</script>


{% endblock %}
